rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /locations/{locations} {
    	allow read: if request.auth.uid != null
      allow write, update: if request.auth.uid != null + request.auth.uid.canCreate == true || request.auth.uid.isAdmin == true
    }
    match /users/{userId}{
      allow read, create: if request.auth.uid != null
      allow write, update: if request.auth.uid.isAdmin == true
    }
  }
}